@font-face {
    font-family: "Eusthalia Sans Slant";
    src: url("../Fonts/eusthalia_sans_slant-webfont.woff") format("woff"),
        url("../Fonts/Eusthalia Sans Slant.otf") format("opentype"),
        url("../Fonts/eusthalia_sans_slant-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Lato Light";
    src: url("../Fonts/lato-light-webfont.woff") format("woff"),
        url("../Fonts/Lato-Light.ttf") format("ttf"),
        url("../Fonts/lato-light-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Odachi";
    src: url("../Fonts/odachi-webfont.woff") format("woff"), url("../Fonts/Odachi.otf") format("ttf"),
        url("../Fonts/odachi-webfont.woff2") format("woff2");
}

body {
    background: #FFFF;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    width: 50%;
    position: absolute;
    display: inline;
    height: 4vw;
    top: 2vw;
    left: 0.5vw;
}

ul {
    list-style-type: none;
    display: inline;
    left: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    position: relative;
    font-family: "Eusthalia Sans Slant";
    font-size: 1.25vw;
    margin-left: 2vw;
    float: left;
    text-align: left;
    z-index: 1;
}

.menu-item::after {
    position: absolute;
    bottom: -10%;
    height: 40%;
    content: '';
    background-color: #EADFC0;
    left: -10%;
    width: 120%;
    z-index: -1;
}

.menu-item a {
    text-decoration: none;
    color: #300306;
}

.menu-item a:hover::after {
    position: absolute;
    bottom: -22%;
    height: 40%;
    content: '';
    background-color: #DA4E31;
    left: -10%;
    width: 120%;
    z-index: 0;
}

#itemCount {
    position: absolute;
    display: none;
    top: 1.3vw;
    right: -26.7vw;
    width: 20px;
    height: 20px;
    font-size: 1.3vw;
    font-weight: 600;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    z-index: 1;
}

.header-banner-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#header-banner-home {
    position: relative;
    display: inline-block;
    float: left;
    background-image: url("../Photos/Header - Coffee Cup.png");
    background-size: cover;
    width: 64vw;
    height: 60vw;
    left: 0%;
    text-align: center;
}

.header-banner-text-home {
    position: absolute;
    top: 30%;
    left: 32%;
    width: 35%;
    height: 55%;
    font-family: "Odachi", sans-serif;
    color: white;
    text-align: center;
}

.small-text {
    font-size: 10vw;
}

.large-text {
    position: absolute;
    top: 21%;
    font-size: 17vw;
}

.menu-item-cart-underline {
    position: absolute;
    top: 3.85vw;
    left: 56.5vw;
    width: 2.6vw;
    height: 0.75vw;
    background-color: #EADFC0;
    z-index: 0;
}

.menu-item-cart {
    position: absolute;
    top: 2.4vw;
    left: 57vw;
    width: 1.75vw;
    height: 2vw;
    background-image: url("../Icons/Cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.clearboth {
    clear: both;
}

.feature1 {
    text-align: center;
    margin-top: 5%;
    /*leave or not?*/
}

.feature-text1 {
    position: relative;
    display: inline;
    font-family: "Odachi";
    font-size: 10vw;

}

.feature-text1::after {
    position: absolute;
    bottom: 13%;
    height: 26%;
    content: '';
    background-color: #EADFC0;
    left: -6.5%;
    /* offset the left to account for half of the extended length (10% / 2) */
    width: 108%;
    /* extend the length a little bit */
    z-index: -1;
}

.feature2 {
    position: relative;
    padding-top: 0.5vw;
    display: block;
    text-align: center;
    font-family: "Eusthalia Sans Slant";
    font-size: 1.5vw;
    margin-bottom: 6vw;
}

.coffee-menu {
    margin: auto;
    width: 69vw;
    font-family: "Eusthalia Sans Slant";
    font-size: 1.5vw;

}

.coffee-menu-item {
    display: inline;
    width: 32.7vw;
    margin-bottom: 2vw;
}

.left {
    float: left;
}

.coffee-menu-item {
    display: inline;
    width: 32.7vw;
    margin-bottom: 2vw;
}

.right {
    float: right;
}

.coffee-menu-item-product {
    display: inline;
}

.coffee-menu-item-cost {
    display: inline;
    width: 3vw;
    text-align: center;
    float: right;
}

.banner-1 {
    position: relative;
    width: 78vw;
    margin-top: 16vw;
    /*margin-left: 22vw;*/
    left: 22vw;
    height: 24vw;
    font-family: "Eusthalia Sans Slant";
    font-size: 3vw;
    background-color: #EADFC0;
}

.banner-1-image {
    position: absolute;
    bottom: 5vw;
    left: -15vw;
    width: 25vw;
}

.banner-1-subtitle {
    position: absolute;
    font-size: 1.75vw;
    top: 6vw;
    left: 19vw;
}

.banner-1-title {
    position: absolute;
    font-size: 4.3vw;
    top: 9vw;
    left: 19vw;
    z-index: 0;
}

.banner-1-title::after {
    position: absolute;
    bottom: -4%;
    height: 45%;
    content: '';
    background-color: #DA4E31;
    left: -.5%;
    /* offset the left to account for half of the extended length (10% / 2) */
    width: 103%;
    /* extend the length a little bit */
    z-index: -1;
}

.banner-2 {
    position: relative;
    width: 72vw;
    margin-top: 16vw;
    /*margin-right: 28vw;*/
    left: 0vw;
    height: 25vw;
    font-family: "Eusthalia Sans Slant";
    font-size: 3vw;
    background-color: #EADFC0;
    max-width: 100%;
}

.banner-2-image {
    position: absolute;
    bottom: 5vw;
    right: -17vw;
    width: 37vw;
}

.banner-2-header {
    position: absolute;
    font-size: 2.5vw;
    top: 3vw;
    left: 15vw;
}

.banner-2-text {
    position: absolute;
    font-family: "Lato Light";
    font-size: 1.8vw;
    top: 8vw;
    left: 15vw;
    z-index: 0;
}

.bannerBtn {
    position: absolute;
    font-size: 1.75vw;
    top: 17vw;
    left: 54vw;
    z-index: 3;
    background-color: #300306;
    color: #EADFC0;
    font-family: "Eusthalia Sans Slant";
    height: 3.7vw;
    width: 16vw;
    margin: 0;
    padding: 0;
}

.sandMenu {
    /*    background-color: darkcyan;*/
    margin: 0;
    padding: 0;
    height: 30vw;
    /*    text-align: center;*/
    font-family: Eusthalia Sans Slant;
    font-weight: 100;
    font-size: 1vw;
}

.row {
    list-style: none;
    height: 15vw;
    /*    background-color: aqua;*/
    font-size: 2vw;
    position: relative;
    width: 30%;
    left: 15vw;
}

.row1 {
    list-style: none;
    height: 13vw;
    /*    background-color: yellow;*/
    width: 30%;
    font-size: 2vw;
    position: absolute;
    top: 190vw;
    left: 15vw;
}

.row2 {
    list-style: none;
    height: 15vw;
    /*    background-color: lightblue;*/
    position: absolute;
    top: 174vw;
    left: 52vw;
    width: 35%;
    font-size: 2vw;
}

.row3 {
    list-style: none;
    height: 13vw;
    /*    background-color: lightcoral;*/
    width: 35%;
    position: absolute;
    top: 190vw;
    right: 12.5vw;
    font-size: 2vw;
}

.bun {
    font-family: "Lato Light";
    font-size: 2vw;
}

.sun {
    font-family: "Lato Light";
    font-size: 2vw;
}

.flower {
    font-family: "Lato Light";
    font-size: 2vw;
    margin: 0;
    line-height: 1.3;
    margin-top: 2vw;
}

.block {
    font-family: "Lato Light";
    font-size: 2vw;
}

.bannerBtn1 {
    position: absolute;
    font-size: 1.75vw;
    top: 19vw;
    left: 15vw;
    z-index: 3;
    background-color: #300306;
    color: #EADFC0;
    font-family: "Eusthalia Sans Slant";
    height: 3.7vw;
    width: 16vw;
    margin: 0;
    padding: 0;
}

.arrow {
    position: relative;
    top: 5px;
    left: 5px;
}

.text-rhs {
    font-family: "Eusthalia Sans Slant", sans-serif;
    position: absolute;
    display: inline-block;
    text-align: center;
}

.banner-3 {
    position: relative;
    width: 78vw;
    margin-top: 17vw;
    left: 22vw;
    height: 24vw;
    font-family: "Eusthalia Sans Slant";
    font-size: 3vw;
    background-color: #EADFC0;
}

.banner-3-image {
    position: absolute;
    bottom: 5vw;
    left: -8vw;
    width: 68vw;
    z-index: 10;
}

.banner-3-text {
    position: absolute;
    font-size: 1.75vw;
    top: 12vw;
    left: 32vw;
    z-index: 10;
}

.banner-3-text::after {
    position: absolute;
    bottom: -4%;
    height: 45%;
    content: '';
    background-color: #DA4E31;
    top: 60%;
    left: -1%;
    /* offset the left to account for half of the extended length (10% / 2) */
    width: 103%;
    /* extend the length a little bit */
    z-index: -1;
}

.footer {
    position: relative;
    background-color: #300306;
    height: 10vw;
    width: 101%;
}

.copyRight {
    color: white;
    font-family: "Eusthalia Sans Slant";
    font-size: 1vw;
    position: absolute;
    top: 2vw;
    left: 14.3vw;
}

.address {
    color: white;
    font-family: "Eusthalia Sans Slant";
    font-size: 1vw;
    position: absolute;
    top: 4.5vw;
    left: 14.3vw;
}

.photo-by {
    color: white;
    font-family: "Eusthalia Sans Slant";
    font-size: 1vw;
    position: absolute;
    top: 2.5vw;
    right: 18vw;
    text-align: right;
}

.author {
    color: white;
    font-family: "Lato Light";
    font-size: 1vw;
    position: absolute;
    top: 4.3vw;
    right: 18vw;
    text-align: right;
}
